#grid > div {
    width: 100px;
    height: 100px;
    float: left;    
    border: 1px solid black;
    text-justify: auto;
    text-align: center;
}

#grid {
    width: 350px;
}

#block {
    background-color: red;
}

#child {
    background-color: yellow;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}